= simple_nested_form_for @word do |f|
  .form-inputs
    = f.input :content, input_html: { class: 'form-control' }
    = f.association :language, input_html: { class: 'form-control' }
    = f.fields_for :translations do |t|
      = t.input :content, input_html: { class: 'form-control' }
      = t.association :language, input_html: { class: 'form-control' }
      %p= t.link_to_remove('Remove this Translation', class: 'btn btn-danger')
    %p= f.link_to_add('Add a Translation', :translations, class: 'btn btn-primary')
  .form-actions
    = f.button :submit, class: 'btn btn-primary'