%h1 Words
%p
  We have #{@words.count} words in Database!
%table.table
  %thead.thead-dark
    %th{scope: "col"} Id
    %th{scope: "col"} Content
    %th{scope: "col"} Language
    %th{scope: "col"} User
    %th{scope: "col"} Traslations Count
    %th{scope: "col"} Actions
  %tbody
    - @words.each do |word|
      %tr
        %td= word.id
        %td= word.content
        %td= word.language&.name
        %td= word.user&.email
        %td= word.translations.size
        %td
          = link_to "Show", word, class: 'btn btn-primary'
          = link_to "Edit", edit_word_path(word), class: 'btn btn-primary'
          = link_to "Delete", word, class: 'btn btn-danger', method: :Delete
  = paginate @words, theme: 'twitter-bootstrap-4'