!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsBasicsApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  .navbar.navbar-default.navbar-static-top
    .container
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#") Welcome
      / .navbar-collapse.collapse.navbar-responsive-collapse
      /   %ul.nav.navbar-nav
      /     %li= link_to "Link 1", "/path1"
      /     %li= link_to "Link 2", "/path2"
      /     %li= link_to "Link 3", "/path3"
      /     %li= link_to "Link 3", "/path3"

  .container
    .row
      .col-lg-9
        = yield
      .col-lg-3
        .well.sidebar-nav
          %h3 
            = link_to "Home", words_path
          %ul.nav.nav-list
            / %li.nav-header Sidebar
            %li= link_to "Create New Word", new_word_path
            / %li= link_to "Link 2", "/path2"
            / %li= link_to "Link 3", "/path3"
    / %footer
    /   %p &copy; Company <%= Date.today.year %>
